@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-de-fundo: #EBECEE;
    --branco-principal: #FFFFFF;
    --laranja-fonte: #EB9B00;
    --laranja-hover: #c66c1d;
    --azul-fonte: #002F52;
    --cor-degrade1: #002F52;
    --cor-degrade2: #326589;
    --fonte-principal: "Poppins", sans-serif;
    
   
}


.cabeçalho__menu-hamburguer {
    background-image: url('../imagens/menuhamburguerpreto.png');
    background-size: cover;  
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: 24px;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
}




.cabeçalho{
    background-color:var(--branco-principal) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
    
    
}

#itens{
    display: none;
    position: absolute;
    top: 100%; /* Coloca o menu logo abaixo do cabeçalho */
    left: 0;
    background-color: var(--branco-principal);
    width: 300px;
   
    
}

.itens__links, .itens__titulo{
    padding: 1em;
    background-color: var(--branco-principal);
    
}

.itens__titulo{
    color: var(--laranja-fonte);
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.itens__link__link{
   color: var(--azul-fonte);
   text-decoration: none;
   font-family: var(--fonte-principal);
}

a:hover{
    color: var(--laranja-hover);
}

